@font-face {
  font-family: 'YouSheBiaoTiHei';
  src: url('./YouSheBiaoTiHei.ttf');
}

@font-face {
  font-family: 'sop-calendar-title';
  src: url('./ysbth.ttf');
}

@font-face {
  font-family: 'din-bold';
  src: url('./DIN-Bold.otf');
}

@font-face {
  font-family: 'din-medium';
  src: url('./DIN-Medium.otf');
}

@font-face {
  font-family: 'din-regular';
  src: url('./DIN-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./Roboto-Medium.ttf');
}
